/* SEMANTIC STYLES OVERRIDES */

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: 0;
  margin-bottom: 0;
}

.btn {
  font-size: var(--text-md);
}

/* LOCAL STYLES */

.card {
  width: calc(100% - var(--space-md));
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
